@charset "utf-8";
a {
	text-decoration: none;
	color: #191970;
	font-weight:bold;
}

#actiondiv {
	float: left;
	margin-top: -20px;
	margin-left: 20px;
	font-size: 10pt;
	font-family: "微軟正黑體";
	color: #191970;
}


.admin_list {
	border-style:dashed;
	border-width:1px;
	border-color:#0066CC;
}

.admin_list tr td {
	border-style:dashed;
	border-width:1px;
	border-color:#0066CC;
	padding-right:15px;
}


a:link {
	color: #0066CC;
	font-weight:bold;
}

a:visited {
	color: #0066CC;
	font-weight:bold;
}

a:hover {
	color: #FF0000;
	font-weight:bold;
	background-image:  url(images/Light-1.png);
}

.banner{
	background-size:100% 100%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
}

.bannerlinker {
	padding-top:7px;
	padding-right:12px;
	color: #656565;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10pt;
	font-weight: bolder;
}

.bannerlinker_1 {
	padding-top:7px;
	padding-right:10px;
	color: #656565;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10pt;
	font-weight: bolder;
}

.bannerlinker_2{
	margin-top:7px;
	margin-right:12px;
	color: #656565;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10pt;
	font-weight: bolder;
}
.bannerline1 {
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-width: 0px;
	border-style: solid;
	background-position:center,top;
	background-repeat:repeat-x;
}

.bannerline1_r{
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;
	border-width: 0px;
	border-style: solid;
	background-position:center,top;
	background-repeat:repeat-x;
}

.bannerline1_l{
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	border-top-left-radius: 15px;
	border-width: 0px;
	border-style: solid;
	background-position:center,top;
	background-repeat:repeat-x;
}

body{
	height:100%;
	margin:0px;
	padding:0px;
}

#board_bottom{
	font-size: 11px;
	color: #191970;
	font-family: Georgia, "Times New Roman", Times, serif;
	vertical-align: middle;
}

#board_bottom a{
	font-size: 11px;
	color: #191970;
	font-family: Georgia, "Times New Roman", Times, serif;
	vertical-align: middle;
}

#board_main {
	margin-top: 3px;
	margin-bottom: 3px;
	background-attachment:scroll;
	background-position:center,left;
	background-repeat:repeat-y;
	padding-left: 5%;
}

#board_login{
	background-attachment:scroll;
	background-position:center,center;
	background-repeat:no-repeat;
}

#board_list_icon{
	padding-top:30px;
	padding-left:13px;
}

#board_list_main{
	padding-top:45px;
	padding-left:5px;
}

.boxtl {
	background-image: url(images/tl.gif);
	float: left;
	top: -1px;
	height: 4px;
	width: 4px;
	background-repeat: no-repeat;
}

.boxtr {
	background-image: url(images/tr.gif);
	float: right;
	top: -1px;
	height: 4px;
	width: 4px;
	background-repeat: no-repeat;
}

.boxbl {
	background-image: url(images/bl.gif);
	float: left;
	top: -1px;
	height: 4px;
	width: 4px;
	background-repeat: no-repeat;
	margin-top: -4px;
}

.boxbr {
	background-image: url(images/br.gif);
	float: right;
	top: -1px;
	height: 4px;
	width: 4px;
	background-repeat: no-repeat;
	margin-top: -4px;
}

#clock{
　
}

.clear {
	clear: both;
}

.context{
	font-family: "微軟正黑體";
	font-size: 11pt;
	color: #0000cd;
	line-height: 170%;
}

.context_footer{
	font-family: "微軟正黑體";
	font-size: 10pt;
	color: #ff4500;
	line-height: 170%;
}

.dataDiv {
	margin: 10px;
}

.errDiv {
	font-family: "微軟正黑體";
	font-size: 10pt;
	color: #FFFFFF;
	background-color: #FF0000;
	padding: 8px;
	text-align: center;
	width:80%;
	margin-left:8%;
	margin-top:30px;
}

.errMsg {
	font-family: "微軟正黑體";
	font-size: 11pt;
	color: #FF3300;
	text-align: center;
	font-style:italic;
}

.footerline1 {
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-width: 0px;
	border-style: solid;
}

.form {
	margin: 0px;
}

.footer_p1 {
	float: middle;
	margin-top:30px;
	margin-bottom:8px;
	font-size: 11pt;
	font-weight: bolder;
	font-family: "微軟正黑體";
	color: #d8bfd8;
}

.footer_p1_1 {
	float: middle;
	margin-top:10px;
	font-size: 11pt;
	font-weight: bolder;
	font-family: "微軟正黑體";
	color: #d8bfd8;
}

.footer_p2 {
	float: middle;
	margin:1px;
	font-size: 11pt;
	font-weight: bolder;
	font-family: "微軟正黑體";
	color: #d8bfd8;
}

.footer_p3 {

	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 10pt;
	font-weight: bolder;
	font-family: "微軟正黑體";
	color: #2f4f4f;
}

.footer_p4{
	margin-top: 8px;
	padding-bottom: 5px;
	font-size: 10pt;
	font-weight: bolder;
	font-family: "微軟正黑體";
	color: #ccffcc;
}

.footer_p5 {
	float: middle;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 10pt;
	font-weight: bolder;
	font-family: "微軟正黑體";
	color:  #d8bfd8;
}

#geo_map {
	margin-left:30%;
}

#geo_button {
	margin-left:5px;
	margin-right:5px;
	font-size: 10pt;
	font-weight: bolder;
	font-family: "微軟正黑體";
	color: #ff4500;
}

#geo_result {
	float: left;
	margin-left:30px;
	font-size: 10pt;
	font-weight: bolder;
	font-family: "微軟正黑體";
	color: #2f4f4f;
}

html{
	height:100%;
}

hr{
	color:#191970;
	size:1;
}

#board_hr{
	margin-left:20px;
}

.heading {
	margin-top: 5px;
	padding-left: 5px;
	font-family: "微軟正黑體";
	font-size: 13pt;
	color: #ff3300;
	line-height: 110%;
	font-weight: bold;
}

.home_main {
	padding-top: 1px;
	padding-bottom: 1px;
}

.itemheading {
	font-family: "微軟正黑體";
	font-size: 11pt;
	color: #CC0000;
	font-weight: bolder;
}

.logintextbox {
	width: 150px;
}

#page_selector a{
	font-size: 13px;
	color: #191970;
	font-family: Georgia, "Times New Roman", Times, serif;
	vertical-align: middle;
}

#page_selector{
	padding-right: 20px;
}

p,ol ,ul{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 200%;
	margin-top: 0px;
	margin-bottom: 0px;
}

#mainbox {
	padding-top: 0px;
	background-attachment:scroll;
	background-position:center,center;
	background-repeat:repeat-x;
}

#mainbox_pet {
	padding-top: 0px;
	background-attachment:scroll;
	background-position:left,center;
	background-repeat:no-repeat;
}


#maincontent1{
	margin-top:25px;
	margin-left:50px;
	background-attachment:scroll;
	background-position:center,center;
	background-repeat:repeat-x;
}

#maincontent1 .title{
	padding-top:40px;
	padding-bottom:15px;
	padding-left:15px;
}

#maincontent1 .title2{
	padding-top:10px;
	padding-bottom:15px;
	padding-left:50px;
}

#maincontent1 .title3{
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px;
}

#maincontent1 .heading{
	padding-left:10px;
	padding-top:0px;
	font-family: "微軟正黑體";
	font-size: 13pt;
	color: #ff3300;
	line-height: 100%;
	font-weight: bold;
}

#maincontent1 .heading0{
	padding-left:10px;
	padding-top:5px;
	font-family: "微軟正黑體";
	font-size: 13pt;
	color: #000080;
	line-height: 150%;
	font-weight: bold;
}

#maincontent1 .heading1{
	padding-left:15px;
	padding-top:15px;
	padding-bottom:10px;
	font-family: "微軟正黑體";
	font-size: 13pt;
	color:  #000080;
	line-height: 100%;
	font-weight: bold;
}

#maincontent1,p{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 13px;
}

#maincontent1,p,ol{
	margin-left: 8%;
}

#mainbox2 {
	margin-top: 0px;
	background-attachment:scroll;
	background-position:center,left;
	background-repeat:repeat-y;
}

#maincontent2{
	margin-top:7px;
	padding-left:15px;
	background-attachment:scroll;
	background-position:left,top;
	background-repeat:no-repeat;
}

#maincontent2 .heading{
	padding-left:75px;
	padding-top:3px;
	font-family: "微軟正黑體";
	font-size: 13pt;
	color: #ff3300;
	line-height: 110%;
	font-weight: bold;
}

#maincontent2 .heading2{
	padding-left:75px;
	padding-top:0px;
	font-family: "微軟正黑體";
	font-size: 13pt;
	color: #ff3300;
	line-height: 110%;
	font-weight: bold;
}

#maincontent2 p{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 88px;
}

#maincontent2,p,ol{
	margin-left: 10px;
}

#mainbox3,#mainbox4{
	background-attachment:scroll;
	background-position:top,center;
	background-repeat:repeat-y;
	padding-left: 0%;
}

#maincontent3{
	margin-top:0px;
	padding-left:7%;
	background-attachment:scroll;
	background-position:left,top;
	background-repeat:repeat-y;
}

#maincontent3 .board_list{
	padding-top:75px;
	margin-right:25px;
	background-attachment:scroll;
	background-position:center,top;
	background-repeat:no-repeat;
}

#maincontent3 .board_list form,#maincontent4 .board_list form{
	padding-left:80px;
}

#maincontent3 .heading{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:20px;
}

#maincontent4{
	margin-left:6%;
	background-attachment:scroll;
	background-position:top,middle;
	background-repeat:no-repeat;
}

#maincontent4_1{
	margin-left:16%;
	background-attachment:scroll;
	background-position:top,middle;
	background-repeat:no-repeat;
}

#maincontent4 .heading, #maincontent5 .heading{
	padding-top:25px;
	padding-bottom:5px;
	padding-left:20px;
}

#maincontent5{
	padding-top:0px;
	margin-left:18%;
	background-attachment:scroll;
	background-position:center,top;
	background-repeat:no-repeat;
}

#maincontent6{
	/*padding-top:0px;*/
	margin-left:5%;
	background-attachment:scroll;
	background-position:center,top;
	background-repeat:no-repeat;
}

#maincontent6 .board_list{
	padding-left:20px;
}

#maincontent6 #err_board{
	padding-left:68px;
	padding-top:65px;
}

#maincontent6 #help_board{
	padding-left:60px;
	padding-top:65px;
}

.mainline {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #191970;
}

#mainRegion {
	padding-top: 10px;
	background-attachment:scroll;
	background-position:center,top;
	background-repeat:no-repeat;
}

#mainRegion form, #mainRegion_2 form{
	margin: 0px;
}

#mainRegion .postname ,#mainRegion_2 .postname{
	font-size: 9pt;
	font-weight: bold;
	color: #0066CC;
	padding-left: 15px;
}

#mainRegion .heading,#mainRegion_2 .heading,#mainRegion_3 .heading{
	font-family: "微軟正黑體";
	font-size: 13pt;
	color: #FF6600;
	line-height: 150%;
	font-weight: normal;
}

#mainRegion .smalltext,#mainRegion_2 .smalltext {
	font-size: 11px;
	color: #999999;
	font-family: Georgia, "Times New Roman", Times, serif;
	vertical-align: middle;
}

#mainRegion .actiondiv a:hover,#mainRegion_2 .actiondiv a:hover {
	color: #FFFFFF;
	background-color: #CC0000;
}

#mainRegion a,#mainRegion_2 a {
	text-decoration: none;
}

#mainRegion a:link,#mainRegion_2 a:link {
	color: #0066CC;
}

#mainRegion a:visited ,#mainRegion_2 a:visited {
	color: #0066CC;
}

#mainRegion a:hover ,#mainRegion_2 a:hover {
	color: #FF0000;
}

#mainRegion .sticker_content{
	background-attachment:scroll;
	background-position:center,middle;
	background-repeat:no-repeat;
	margin-left:90px;
}

#mainRegion table{
	margin-top: 3px;
}

#mainRegion .board_content,#mainRegion_2 .board_content{
	padding-top: 20px;
	padding-left: 5px;
}

.board_time{
	float: left;
	padding-top: 100px;
}

.board_button_area{
	width: 150px;
	height: 100%;
	padding-left: 140px;
	padding-top: 40px;
}

#board_button{
	margin-bottom: 10px;
}


#mainRegion_2 {
	padding-top: 3px;
}

#mainRegion p, #mainRegion_2 p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 20px;
	margin-top: 0px;
	margin-bottom: 5px;
}

#mainRegion3 p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 20px;
	padding: 5px;
}

#mainRegion4{
	margin-top: 25px;
	margin-left: 0px;
}

#mainRegion5{
/*	margin-top: 65px;
	padding-left: 65px;*/
}

#mainRegion4 p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 20px;
	padding-left:5px;
	padding-top: 4px;
	padding-bottom: 4px;
}

#mainRegion4 .board_list,#mainRegion5 .board_list{
	margin-top:5%;
}

#mainRegion4 #board_heading,#mainRegion5 #board_heading{
	padding-top:5%;
}

#mainRegion6 #board_heading{
	padding-top:7%;
	padding-bottom:5%;
}

#mainRegion4 #board_footer{
	padding-bottom:7px;
}

#mainRegion5 p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 20px;
	padding-top:4px;
	padding-bottom:4px;
}

#mainRegion5 ul li{
	padding-top:7px;
	padding-bottom:7px;
}

#mainRegion5 #board_footer{
	padding-bottom:70px;
}

#mainRegion5 #board_footer a img,#mainRegion6 #board_footer a img{
	margin-left:15px;
	margin-right:15px;
}

#mainRegion6 #board_footer{
	margin-top:0px;
	padding-bottom:70px;
}

.map_button{
	margin-right:30px;
}

.marquee{
	font-family: "微軟正黑體";
	font-size: 20pt;
	font-weight: bolder;
	margin-top:20px;
	margin-bottom:10px;
	line-height: 150%;
}

.marquee_pet{
	font-family: "微軟正黑體";
	font-size: 20pt;
	font-weight: bolder;
	margin-top:315px;
	margin-left:175px;
	line-height: 150%;
}

#navi_notice ol li{
	margin-left:25px;
}

#regbox {
	background-attachment:scroll;
	background-position:center,center;
	background-repeat:repeat-x;
}

#regboxContent{
	padding-left:9px;
	margin-left:9px;
	margin-top:-2px;
	background-attachment:scroll;
	background-position:center,center;
	background-repeat:no-repeat;
}

#regboxContent tr{
	padding-left:15px;
	background-attachment:scroll;
	background-position:center,center;
	background-repeat:no-repeat;
}


#regboxContent form{
	padding: 2px;
}

#regboxContent form p{
	padding:5px;
}

#regboxContent form .heading{
	padding-top:40px;
	padding-left:-20px;
	font-family: "微軟正黑體";
	font-size: 13pt;
	color: #0066CC;
	line-height: 100%;
	font-weight: bold;
}

#regboxContent .heading{
	padding-top:140px;
	padding-left:-20px;
	font-family: "微軟正黑體";
	font-size: 13pt;
	color: #0066CC;
	line-height: 100%;
	font-weight: bold;
}

#regboxContent form .heading2{
	padding-top:5px;
	padding-left:-10px;
	font-family: "微軟正黑體";
	font-size: 13pt;
	color: #0066CC;
	line-height: 100%;
	font-weight: bold;
}

#regboxContent #heading3{
	padding-top:40px;
	padding-left:-10px;
	font-family: "微軟正黑體";
	font-size: 13pt;
	color: #0066CC;
	line-height: 100%;
	font-weight: bold;
}

#regboxContent form title{
	padding-top:2px;
	padding-bottom:2px;
}

#regboxContent form .smalltext{
	padding-top:5px;
	padding-bottom:2px;
	margin-right:5px;
}

#regbox2{
	padding-top:4px;
	background-attachment:scroll;
	background-position:center,center;
	background-repeat:repeat-x;
}

#regboxContent2{
	padding:5px;
	margin-left:10px;
	background-attachment:scroll;
	background-position:center,center;
	background-repeat:no-repeat;
}

#regboxContent2 #heading{
	padding-top:40px;
	padding-left:20px;
	padding-bottom:15px;
	font-family: "微軟正黑體";
	font-size: 13pt;
	color: #0066CC;
	line-height: 100%;
	font-weight: bold;
}

#regbox3{
	margin: 2px;
	background-attachment:scroll;
	background-position:top,center;
	background-repeat:repeat;
}

#regbox3_content{
	margin-left:20px;
	padding-right:20px;
	background-attachment:scroll;
	background-position:top,center;
	background-repeat:repeat;
}

#regbox3 form #board_key{
	padding-bottom: 0px;
	margin-left: 20px;
}

#regbox3 form #board_key_1{
	margin-left: 30px;
}

#regbox3 form input{
	padding: 2px;
}

#regbox3 form p {
	padding-left: 15px;
	padding-right: 10px;
}

#regbox3 form p a img{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
}

#regbox3  form hr{	
	margin-top: 20px;
	margin-left: 20px;
}

#regbox3  form #hr2{	
	margin-top: 20px;
	margin-left: 50px;
}

#regbox3  form .heading3{
	padding-bottom: 10px;
	padding-top:10px;
	padding-left:38px;
	font-family: "微軟正黑體";
	font-size: 13pt;
	color: #0066CC;
	line-height: 100%;
	font-weight: bold;
}

#regbox3  form .heading3_1{
	padding-bottom: 10px;
	padding-top:10px;
	margin-right:40px;
	font-family: "微軟正黑體";
	font-size: 13pt;
	color: #0066CC;
	line-height: 100%;
	font-weight: bold;
}

#regbox3 form #regbox3_backward{
	margin-bottom: 160px;
	margin-left: 50px;
}

#smalltext,#smalltext_2,#smalltext_3,#smalltext_4,#smalltext_5,#smalltext_6,#smalltext_7 {
	font-size: 11px;
	color:#0000cd;
	font-family: Georgia, "Times New Roman", Times, serif;
	vertical-align: middle;#ff4500;
}

#spec_link{
	margin-top:10px;
	margin-right:110px;
}

#spec_link_a{
	color:#000000;
}


#smalltext {
	padding-left:65px;
	padding-top:3px;
	padding-bottom:3px;
}

#smalltext_3 {
	padding-left:22px;
	padding-top:2px;
	padding-bottom:2px;
}

#smalltext_4 {
	padding-left:22px;
	padding-top:2px;
	padding-bottom:1px;
}

#smalltext_5 {
	padding-left:22px;
	padding-top:2px;
	padding-bottom:1px;
}

#smalltext_6 {
	padding-left:20px;
}

#smalltext_7 {
	padding-left:90px;
	padding-top:2px;
	padding-bottom:1px;
}

.title,.title2,.title3{
	font-family: "微軟正黑體";
	font-size: 20pt;
	font-weight: bolder;
	color: #FF3300;
	margin-top:0px;
}

.title4{
	font-family: "微軟正黑體";
	font-size: 11pt;
	font-weight: bolder;
	color: #FF3300;
	line-height: 180%;
	font-weight: bold;
}

.title5{
	font-family: "微軟正黑體";
	font-size: 11pt;
	font-weight: bolder;
	color: #696969;
	margin-top:20px;
	line-height: 100%;
	font-weight: bold;
}

#title_marquee1{
	background:#9370db;
	color: #000080;
}

#title_marquee2{
	background:#9370db;
	color: #18e9e2;
}

#title_marquee3{
	background:#9370db;
	color: #f8e721;
}

#title_marquee4{
	background:#9370db;
	color: #f842ef;
}

#title_marquee_pet{
	background-color: rgba(255,255,255,0.0);
	color: #0000cd;
}

.tbtline {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #999999;
}

.tdaline {
	border-width: 1px;
	border-style: dotted;
	border-color: #999999;
}

.tdlline {
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #999999;
}

.tdrline {
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #999999;
}

.tdbline {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}

.tdbg1 {
	background-image: url(./images/mlogo.png);
}

.trademark {
	font-family: "微軟正黑體";
	font-size: 10pt;
	color: #c8b3cc;
	line-height: 150%;
	font-weight: bold;
}

.trademark_bottom {
	margin-bottom:10px;
}

.open_msg_container{
	padding-left:3%;
	padding-right:3%;
}

.open_msg_container > #board_footer{
	padding-top: 10px;
	padding-bottom: 5px;
}

#window_footer{
	margin-top:30px;
}

.open_msg_container > #board_heading{
	padding-bottom:0%;
}

#msg_footer{
	padding-bottom:7px;
}

.footer_bg{
	background-size:100% 100%;
}

.trademark_bg{
	background-size:100% 100%;
}

#kind_msg {
	text-align: right;
	padding-right: 5px;
	font-family: "微軟正黑體";
	font-size: 11pt;
	float: right;
}

#loginMemInfo{
	padding-top:3px;
	padding-right:3px;
	font-family: "微軟正黑體";
	font-size: 10pt;
	color: #e6ffcc;
}