		<!--中間區段1-->	
			<!--中間區段1-1-->
			<tr>
				<td  align="right" valign="top" height="104" width="1085" background="./images/banner_2_1.png" class="bannerlinker | bannerline1">
					<a href="help.php">需要協助 </a>|<a href="contact.php?m_id=1"> 聯絡我們</a>
				</td>
			</tr>
			<!--中間區段1-1-->
			<!--中間區段1-2-->
			<tr>
				<td>
					<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td  width="93">
								<img name="banner_2_2_1" src="./images/banner_2_2_1.png" width="93" height="98" border="0" alt="">
							</td>
							<td  width="95">
								<a href="introduce_a.php">
									<img name="banner_2_2_2" src="./images/banner_2_2_2.png" width="95" height="98" border="0" alt="第一頁!">
								</a>	
							</td>
							<td  width="94">
								<a href="about_me_a.php">
									<img name="banner_2_2_3" src="./images/banner_2_2_3.png" width="94" height="98" border="0" alt="第二頁!">
								</a>	
							</td>
							<td  width="89">
								<a href="member_index_a.php">
									<img name="banner_2_2_4" src="./images/banner_2_2_4.png" width="89" height="98" border="0" alt="第三頁!">
								</a>	
							</td>
							<td  width="113">
								<a href="board.php">
									<img name="banner_2_2_5" src="./images/banner_2_2_5.png" width="113" height="98" border="0" alt="第四頁!">
								</a>	
							</td>
							<td  width="600">
								<a href="index_a.php">
									<img name="banner_2_3" src="./images/banner_2_3.png" width="600" height="98" border="0" alt="歡迎回來!">
								</a>	
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<!--中間區段1-2-->
		<!--中間區段1-->	