		<!--中間區塊3-->	
			<!--中間區塊3-1-->
			<tr>
				<td class="smalltext" align="center" width="100%" height="240" background="images/shadow_1.png">
					<table  width="890" height="240" border="0" cellpadding="0" cellspacing="0" align="right" valign="bottom">
						<tr width="100%" height="80%" valign="middle" align="center" border="0" >
							<td width="60%" valign="top" >
								<p class="footer_p1"><strong>【目前裝置所處位置資訊】</strong></p><br/>
								<hr size="1" width="90%" color="#c8b3cc"/>
								<div id="geo_result" align="left" height="80">不顯示現在裝置所處位置!</div>
							</td>
							<td width="40%" valign="top" align="center">
								<form id="formDate" action="" method="post">
									<p class="footer_p1_1">
										<strong>【目前日期為&nbsp;:&nbsp;{time_now}】<br/>
												【目前時間為&nbsp;:&nbsp;
												<q id="showTime">請按下方文字</q>】
										</strong>
									</p>
									<p>
										<u><a class="footer_p5" onclick="javascript:setTime();">※如需更新時間請按我&nbsp;&nbsp;/&nbsp;&nbsp;日期需更新，請F5重新整理</a></u>
									</p>
									<hr size="1" width="90%" color="#c8b3cc"/>
										<p id="audio_info" class="footer_p3" width="60" align="center">※準備播放的是:&nbsp;&nbsp;</p><br/>
											<table class="player_skin1" width="130" height="45" border="0" cellpadding="0" cellspacing="0" align="left" valign="middle">
												<tr align="center" valign="middle">
													<td  background="images/player_skin.png">
														<img class="player_button1" src="images/play_buttom.png" value="play" onclick="javascript:{Play};"/>
														<img class="player_button1" src="images/pause_buttom.png" value="pause" onclick="javascript:{Pause};"/>
														<img class="player_button1" src="images/stop_buttom.png" value="stop" onclick="javascript:{Stop};"/>
													</td>
												</tr>
											</table>	
										<p class="footer_p3">你所使用的瀏覽器無法撥放檔案，請<a id="open_broswer" href="">點擊</a></p>
								</form>	
							</td>
						</tr>
			<!--中間區塊3-1-->
		<!--中間區塊3-->
		<!--中間區塊4-->	
			<!--中間區塊4-1-->			
						<tr width="100%" height="20%" valign="middle" align="center" border="1" >
							<td width="60%" valign="top" >
								<table   id="geo" width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" align="left" valign="bottom">
										<tr>
											<td valign="left"> 
													<form id="formMap" action="" method="get" onSubmit="return getMapURL();">
													<span id="geo_map">
															<a href="javascript:{MapURL};" id="geo_button"/><img src="./images/google_map.png">&#160;&#8776;&#8658;&#160;&#8220;精確位置鈕&#8221;&#160;&#8656;&#8776;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</a>
															<a href="{FavorestPet}" id="geo_button"/><img src="./images/my_favorest_pet.png"/>&#160;&#8776;&#8658;&#160;&#8220;My favorest pet鈕&#8221;&#160;&#8656;&#8776;&#160;</a>		
													</span>
													</form>
											</td>
										</tr>	
								</table>
							</td>
							<td width="40%" valign="top" align="left">
								<p class="footer_p4" >※聆聽背景音樂時請注意音量，</br>以免損及聽力</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<!--中間區塊4-1-->
		<!--中間區塊4-->
		<!--中間區塊5-->		
			<!--中間區塊5-1-->	
			<tr align="center" valign="bottom" >
				<td class="footerline1 | trademark" width="100%" height="100"  background="images/footer_1.png"  >
						<hr size="2" width="100%" color="#476c6c" />
						<p>
							Edited By <ins><a href="https://www.facebook.com/leowang10251025">Wang How-Wei(Leo)/網站版本: v0.02c</a></ins>
							&nbsp;&nbsp;聯絡方式&nbsp;:&nbsp;<ins><a href="mailto:leowang1025rd@gmail.com?
							subject=你好，我是瀏覽者，想與你連絡...&cc=leowang10251025@gmail.com&
							body=To Leo:%0d%0a你好，我想請問...%0d%0a%0d%0a%0d%0a連絡方式:%0d%0a
							(你的大名:請留下你的暱稱或名字，以方便與你連絡)/%0d%0a(你的連絡信箱:格式如xxx.oo@gmail.com)。">leowang1025rd@gmail.com</a></ins>
							&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;最佳解析度:1280x768&nbsp;&nbsp;建議使用瀏覽器種類:
							<a href="http://www.google.com.tw/chrome/browser">Chrome</a>
						</p>
						<p class="trademark_bottom">
							&#171;&nbsp;此版面僅提供技術交流使用，請注重智慧財產權，所有商標的權利為原創者所有。&nbsp;&#187;&nbsp;&nbsp;&nbsp; © 2016 All Rights Reserved.
						</p>
				</td>
			</tr>
			<!--中間區塊5-1-->
		<!--中間區塊5-->		
											
