<td id="regbox3" align="center" valign="top" height="100%" width="22%" background="./images/regbox3_content.png">
								<table width="65%" border="0" cellpadding="0" cellspacing="0" align="center" valign="bottom" >
									<tr>
										<td id="regbox3_content" height="700" width="200" align="left">
					
											<form valign="bottom" name="formLogin" id="formLogin" method="post" action=""  onSubmit="return checkSubForm();">
												<p class="heading_1" align="center"> &#9830; &#9674; 留言板管理系統 &#9674; &#9830; </p>
												<hr  width="85%"/>
												<p  class="context_regbox">管理帳號: <input id="username" name="username" type="text" /></p>
												<p  class="context_regbox">管理密碼: <input id="passwd" name="passwd" type="password" /></p>
												<hr  width="85%" />
												<p align="center">
													<input class="button_margin_1" src="./images/buttom_login_1.png" type="image" name="loginSubmit_2" id="loginSubmit_2"/>
													<a href="board.php" bgcolor="#d8bfd8"><img class="button_margin_2" src="./images/buttom_backward_1.png"></a>
												</p>
												<img id="board_key" src="./images/navi_content_key.png">
											</form>