						<!--中間區塊2-2-->
						<td id="regbox" align="center" valign="top" width="22%" background="./images/navi_content_bg.png">
								<table id="regboxContent" width="200" height="549" border="0" cellpadding="0" cellspacing="0" align="left" valign="top">
									<tr width="100%" height="100%" valign="top" align="left">
										<td>
										<!-- 中間區塊2-2的頁面呈現處理(表單部分)  -->
											<form name="formReg" id="formReg" method="post" action="" onSubmit="return checkSubForm();">
												<p class="heading" align="center">&#9830; &#9674; 登入會員系統 &#9674; &#9830; </p>
												<hr width="85%"/>
												<p class="context_regbox">帳號: <input name="loginName" id="loginName" type="text" value="{Cookie_Name}"></p>
												<p class="context_regbox">密碼: <input name="loginPW" id="loginPW" type="password" value="{Cookie_PW}"></p>
												<p class="context_regbox"><input name="loginRem" id="loginRem" type="checkbox" checked value="true">記住我的帳號與密碼</p>
												<p align="center"><input  class="button_margin_1" name="loginSubmit" id="loginSubmit" src="./images/buttom_login_1.png" type="image"></p>
												<p align="center" class="smalltext "><a href="admin_passmail.php" >忘記密碼，補寄密碼信。</a></p>
												<hr width="85%"/>
												<p class="context_regbox_2">還沒有會員帳號?</p>
												<p class="context_regbox_2">註冊帳號免費又容易!</p>
												<p align="right" class="smalltext7 "><a href="member_join.php" >&#9001;&#9001; 馬上申請會員!! &#9002;&#9002;</a></p>
											</form>
										<!-- 中間區塊2-2的頁面呈現處理(表單部分)  -->
