<!--中間區塊2-2-->
<td id="regbox" align="center" valign="top" width="22%" background="./images/navi_content_bg.png">
								<table id="regboxContent" width="200" height="550" border="0" cellpadding="0" cellspacing="0" align="left" valign="top">
									<tr width="100%" height="100%" valign="top" align="left">
										<td width="85%" >
											<form name="formReg" id="formReg" method="post" action="">
												<p class="heading" align="center">&#9830; &#9674; 忘記密碼？&#9674; &#9830; </p>
												<hr width="85%"/>
												<p class="context_regbox">請輸入您申請的帳號，系統將自動產生一個隨機碼，寄到您註冊的信箱。請用這組密碼重新登入並再次修改密碼!</p>
												<p class="context_regbox">
													<strong>帳號: </strong>
													<input name="userName" id="userName" type="text" value="" />
												</p>
												<p align="center">
													<a href="javascript:document.formReg.submit()" bgcolor="#d8bfd8"><img class="button_margin_1" src="./images/buttom_send_1.png"/></a>
													<a href="javascript:window.history.back()" bgcolor="#d8bfd8"><img class="button_margin_2" src="./images/buttom_backward_1.png"></a>
												</p>
												<hr width="85%"/>
												<p class="context_regbox_2">還沒有會員帳號?</p>
												<p class="context_regbox_2">註冊帳號免費又容易</p>
												<p align="right" class="smalltext7 "><a href="member_join.php" >&#9001;&#9001; 馬上申請會員!! &#9002;&#9002;</a></p>
											</form>
										</td>
									</tr>
								</table>
							</td>
<!--中間區塊2-2-->