						<!--中間區塊2-2-->
						<td id="regbox" align="center" valign="top" width="22%" background="./images/navi_content_bg.png">
								<table id="regboxContent" width="200" height="550" border="0" cellpadding="0" cellspacing="0" align="left" valign="top">
									<tr width="100%" height="100%"  valign="top" align="left">
										<td width="85%" >
											<form name="formCenter" id="formCenter" method="post" action="">
											<p class="heading" align="center">&#9674; &#9830;會員系統&#9830; &#9674;</p>
											<hr width="85%"/>
											<p class="context_regbox"><strong>{Admin_Name}</strong>，你好</p>
											<p class="context_regbox">
												您總共登入了{Login_Times}次。<br/>
												本次登入的時間為：<br/>{Login_Time}</p>
											<hr width="85%"/>
											<div id="page_selector">
												<p align="center">
												<a href="{Modify}?m_id={M_ID}" >
													<img class="button_margin_1" name="modifySubmit"  src="{Img_Src}" />
												</a>
												<a href="?logout=true" ><img class="button_margin_2" name="logoutSubmit" src="./images/buttom_logout_1.png" /></a></p>
											</div>
											</form>
										</td>
									</tr>
								</table>
							</td>
						<!--中間區塊2-2-->
