							<!--中間區塊2-2-->
							<td id="regbox2" align="center" valign="top" width="22%" background="./images/navi_content_bg_2.png">
								<table id="regboxContent2" width="216" height="627" border="0" cellpadding="0" cellspacing="0" align="center" valign="top">
									<tr width="100%" height="100%" valign="top" align="left">
										<td width="85%" >
											<p align="center" class="heading_2">填寫資料注意事項：</p>
												<hr class="hr2" width="85%" align="center"/>
												<ul id="navi_notice">
													<li class="context_regbox_3">請提供您本人正確、最新及完整的資料。</li>
													<li class="context_regbox_3">在欄位後方出現「*」符號表示為必填的欄位。</li>
													<li class="context_regbox_3">填寫時請您遵守各個欄位後方的補助說明。</li>
													<li class="context_regbox_3">關於您的會員註冊以及其他特定資料，本系統不會向任何人出售或出借你所填寫的個人資料。</li>
													<li class="context_regbox_3">在註冊成功後，除了「使用帳號」外您可以在會員專區內修改您所填寫的個人資料。</li>
												</ul>
												
										</td>
									</tr>
								</table>
							</td>
							<!--中間區塊2-2-->