<!--中間區塊2-2-->
<td id="regbox" align="center" valign="top" width="22%" background="./images/navi_content_bg.png">
								<table id="regboxContent" width="200" height="549" border="0" cellpadding="0" cellspacing="0" align="left" valign="top">
									<tr width="100%" height="100%" valign="top" align="left">
										<td>
											<form name="formReg" id="formReg" method="post" >
												<p class="heading" align="center">&#9674; &#9830; 登出會員系統 &#9830; &#9674;</p>
												<hr width="85%"/>
												<p align="center" class="smalltext7">&#8855;  如有修改會員、管理員密碼 &#8855;<br/>&#8855; 請重新登入!謝謝! &#8855; </p>
												<p align="center"><a href="?logout=true" ><img class="button_margin_1" name="index_logout" id="index_logout" src="./images/buttom_logout_1.png"></a></p>
											<form/>	
										</td>
									</tr>
								</table>
							</td>
<!--中間區塊2-2-->