							<!--中間區塊2-2-->
							<td id="regbox3" align="center" valign="top" height="100%" width="22%" >
								<table width="65%" border="0" cellpadding="0" cellspacing="0" align="center" valign="bottom" >
									<tr>
										<td id="regbox3_content" height="700" width="200" align="left">
					
											<form valign="bottom" name="formLogin" id="formLogin" method="post" action="" onSubmit="return checkSubForm();">
												<p class="heading" align="right"> &#9674; &#9830; 留言板管理系統 &#9830; &#9674;</p>
												<hr  class="hr2" align="center" width="65%"/>
												<p align="center">
													<a href="board.php" bgcolor="#d8bfd8"><img class="button_margin_1" id="regbox3_backward" src="./images/buttom_logout_1.png"></a>
													<img id="board_key_1" src="./images/navi_content_key.png">
												</p>
											</form>
										</td>
									</tr>
								</table>
							</td>
							<!--中間區塊2-2-->